[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/swww-daemon --namespace overview
Restart=on-failure
