[submodule "dotbot"]
	path = dotbot
	url = https://github.com/tokebe/dotbot
[submodule "iosevka/iosevka-generate"]
	path = iosevka/iosevka-generate
	url = https://github.com/tokebe/iosevka-generate.git
[submodule "dotbot-plugins/dotbot-omnipkg"]
	path = dotbot-plugins/dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-plugins/dotbot-if"]
	path = dotbot-plugins/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule "dotbot-plugins/dotbot-pip"]
	path = dotbot-plugins/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
