[submodule "misc/iosevka/iosevka-generate"]
	path = misc/iosevka/iosevka-generate
	url = https://github.com/tokebe/iosevka-generate.git
[submodule "linked/tmux/tpm"]
	path = linked/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "linked/.config/niri/nfsm"]
	path = linked/.config/niri/nfsm
	url = https://github.com/gvolpe/nfsm.git
