include "layout.kdl"
include "input.kdl"
include "rules.kdl"

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

environment {
    // ELECTRON_OZONE_PLATFORM_HINT "auto"
    // Used by Noctalia for qt auto-theming
    QT_QPA_PLATFORMTHEME "qt6ct"
}

switch-events {
    lid-close { spawn "systemctl suspend"; }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    // xcursor-size 32
}

hotkey-overlay {
    skip-at-startup
}

overview {
    zoom 0.5
    workspace-shadow {
        // off
        offset x=0 y=50
        softness 30
    }
}

recent-windows {

    highlight {
        active-color "#c4a7e7ff"
        urgent-color "#f6c177ff"
        padding 15
        corner-radius 10
    }

    previews {
        max-height 300
    }

    binds {
        Alt+Tab { next-window; }
        Alt+Shift+Tab { previous-window; }
        Alt+grave { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

prefer-no-csd

animations {
    workspace-switch {
        spring damping-ratio=0.85 stiffness=1000 epsilon=0.0001
    }
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

// spawn-at-startup "/home/alter/.config/swww/cycle"
spawn-at-startup "/home/alter/Applications/onedrivegui.appimage"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
// spawn-at-startup "dms" "run"
spawn-at-startup "bash" "-c" "qs -c ~/.config/quickshell/noctalia-shell"
// spawn-at-startup "ignis" "init"
spawn-at-startup "vicinae" "server"
spawn-sh-at-startup "python ~/.config/niri/nfsm/src/nfsm.py"
spawn-at-startup "~/.config/niri/niri-manager.py"
// spawn-sh-at-startup "niri msg action open-overview"

// config-notification {
//     disable-failed
// }

