output "DP-1" {
    mode "3440x1440@99.998"
    position x=0 y=0
    focus-at-startup
    backdrop-color "#191724"
}

output "DP-2" {
    mode "1920x1080@60"
    // position x=3440 y=180
    position x=760 y=-1080
    transform "180"
    backdrop-color "#191724"
}

output "eDP-1" {
    mode "1920x1080@60"
    position x=0 y=0
    scale 1.0
    backdrop-color "#191724"
}

layout {

    background-color "transparent"

    gaps 24

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.44444
        proportion 0.5
        proportion 0.55556
        proportion 0.66667
    }

    default-column-width { proportion 0.44444; }

    preset-window-heights {
        proportion 0.15
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.85
    }


    focus-ring {
        width 4

        active-gradient from="#f6c177" to="#9ccfd8" angle=45 in="oklch longer hue" relative-to="workspace-view"
        inactive-gradient from="#505050" to="#a1a1a1" angle=45 in="oklch longer hue" relative-to="workspace-view"
        urgent-color "#f6c177"
    }

    border {
        off

        width 3
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    struts {}

    insert-hint {
        gradient from="#ffbb66" to="#ffc880" angle=45 in="oklch longer hue" relative-to="workspace-view"
    }

    tab-indicator {
        gap 8
        width 6
        length total-proportion=0.4
        corner-radius 3
        gaps-between-tabs 3
        urgent-color "#f6c177"
    }
}
