#nav-bar {

  padding-block-start: 0px !important;

  border: none !important;
  box-shadow: none !important;
  background: transparent !important;

}

/* Hamburger Icon */
#PanelUI-menu-button {
  list-style-image: url("ffox.png") !important;
  filter: none !important;
}

/* Hamburger Icon size */
#PanelUI-menu-button>.toolbarbutton-badge-stack>.toolbarbutton-icon {
  width: 24px !important;
}

/* Hamburger padding */
#PanelUI-menu-button>.toolbarbutton-badge-stack {
  padding: 4px !important;
}

#urlbar {
  margin-top: 0px !important;
}

#urlbar,
#urlbar * {

  padding-block-start: var(--uc-urlbar-top-spacing) !important;

  outline: none !important;
  box-shadow: none !important;

}

/* Hide "this time, search with:" */
.search-one-offs {
  display: none !important;
}

/* Grayscale extension icons */
.webextension-browser-action>*>.toolbarbutton-icon {
  filter: grayscale(100%) invert(1) contrast(0.75);
}

#unified-extensions-button .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/chevron.svg") !important;
}

#unified-extensions-view {
  --uei-icon-size: 16px;
}

.unified-extensions-item-menu-button.subviewbutton {
  padding: 2px !important;
}

.unified-extensions-item-message-deck {
  display: none
}

#unified-extensions-view>vbox>vbox>.unified-extensions-item {
  padding-block: 0px !important;
}

.unified-extensions-item-menu-button {
  margin-inline-end: 0 !important;
}

.unified-extensions-list .unified-extensions-item-menu-button {
  margin-inline-end: 8px !important;
}

/* Hide unified extensions button */
/* #unified-extensions-button {
    width: 0px !important;
  visibility: hidden !important;
} */

#urlbar-container {
  margin-inline: 0px !important;
}

/* Remove Back button when there's nothing to go Back to */

#back-button[disabled="true"] {
  display: none;
}

/* Remove Forward button when there's nothing to go Forward to */

#forward-button[disabled="true"] {
  display: none;
}


#urlbar-background {
  border: transparent !important;
}



#urlbar[focused='true']>#urlbar-background,
#urlbar:not([open])>#urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}


#urlbar[open]>#urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}


.urlbarView-row:hover>.urlbarView-row-inner,
.urlbarView-row[selected]>.urlbarView-row-inner {
  background: var(--toolbar-field-focus-background-color) !important;
}

/* Truncate https:// when collapsed */
@supports not -moz-bool-pref("onebar.disable-https-truncate") {
  #urlbar-input {
    transition: margin .1s;
  }

  .verifiedDomain~.urlbar-input-box:not(:focus-within) #urlbar-input {
    margin-left: -5ch !important;
    mask: linear-gradient(to right, transparent 4ch, black 5ch calc(100% - 3ch), transparent) !important;
  }

  .verifiedDomain {
    z-index: 1000 !important;
  }
}
