input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
        }

        repeat-delay 600
        repeat-rate 25
    }

    // Next sections include libinput settings.
    touchpad {
        tap
        natural-scroll
    }

    trackball {
        scroll-button 275
        scroll-method "on-button-down"
        scroll-button-lock

    }

    // warp-mouse-to-focus
    // focus-follows-mouse
}

gestures {
    // Will config once they get another improvement
    hot-corners {
    }
}

binds {
    //// Suggested binds for running programs: terminal, app launcher

    // Terminal
    Mod+Shift+T repeat=false { spawn "ghostty"; } // Prefer ghostty
    // Used to use wezterm
    // Mod+Shift+T repeat=false { spawn "~/Applications/wezterm.appimage" "start" "--cwd" "."; }
    Mod+Shift+Alt+T repeat=false { spawn "alacritty"; } // Alacritty as a 'stable' backup
    Mod+Shift+b repeat=false { spawn "ghostty" "-e" "btop"; } // Quick processes

    //Utilities
    Mod+Space repeat=false { spawn "vicinae" "toggle"; } // Launcher
    Mod+E repeat=false { spawn "nautilus" "-w"; } // Explorer
    Mod+b repeat=false { spawn "flatpak" "run" "org.gnome.gitlab.cheywood.Buffer"; } // Scratchpad
    Mod+V { spawn-sh "noctalia msg panel-toggle clipboard"; } // Clipboard manager

    //// System-level bindings
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Lockscreen
    Mod+Ctrl+L repeat=false hotkey-overlay-title="Lock screen" { spawn-sh "noctalia msg session lock";}

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }

    /// Screenshot+cast

    // printscreen bindings
    Print { spawn-sh "noctalia msg screenshot-region"; }
    Ctrl+Print { spawn-sh "noctalia msg screenshot-fullscreen"; }
    Alt+Print { spawn-sh "$HOME/.dotfiles/profiles/niri/scripts/noctalia-screenshot-window"; }

    // One-handed screenshot bindings
    Mod+Shift+S { spawn-sh "noctalia msg screenshot-region"; }
    Mod+Shift+A { spawn-sh "noctalia msg screenshot-fullscreen"; }
    Mod+Shift+D { spawn-sh "noctalia msg annotate"; }
    Mod+Shift+W { spawn-sh "$HOME/.dotfiles/profiles/niri/scripts/noctalia-screenshot-window"; }

    // Dynamic casting target
    Mod+Alt+S { set-dynamic-cast-window; }
    Mod+Alt+Shift+S { set-dynamic-cast-monitor; }
    Mod+Ctrl+S { clear-dynamic-cast-target; }

    /// Media

    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Filling out thinkpad function buttons
    XF86Display { toggle-overview; }
    // disabled because it seems to break wifi when used
    // XF86WLAN { spawn-sh "qs -c ~/.config/quickshell/noctalia-shell/ ipc call wifi togglePanel"; }
    XF86NotificationCenter { spawn-sh "noctalia msg settings-toggle"; }
    // XF86PickupPhone { spawn-sh "qs -c ~/.config/quickshell/noctalia-shell/ ipc call bluetooth togglePanel"; }
    // XF86HangupPhone
    XF86Favorites { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }

    //// Window Management

    // Window focus movement
    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Down  { focus-window-or-monitor-down; }
    Mod+Up    { focus-window-or-monitor-up; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Home  { focus-column-first; }
    Mod+End   { focus-column-last; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { focus-window-or-monitor-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { focus-window-or-monitor-up; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollLeft  cooldown-ms=150 { focus-column-left; }

    // Window movement: (Mod+Shift = grab window)
    Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+H     { move-column-left-or-to-monitor-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right-or-to-monitor-right; }

    Mod+Shift+Home  { move-column-to-first; }
    Mod+Shift+End   { move-column-to-last; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollUp  cooldown-ms=150 { move-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-window-up-or-to-workspace-up; }
    Mod+Shift+WheelScrollRight cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollLeft cooldown-ms=150 { move-column-left; }

    // Workspace focus movement
    Mod+U       { focus-workspace-down; }
    Mod+I       { focus-workspace-up; }
    // Switches focus between the current and the previous workspace.
    Mod+Tab { focus-workspace-previous; }

    // Workspace movement
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }

    // Monitor focus movement (Mod+Alt = monitor)
    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+L     { focus-monitor-right; }
    Mod+Alt+K     { focus-monitor-up; }

    // Monitor window movement
    Mod+Alt+Shift+Left  { move-column-to-monitor-left; }
    Mod+Alt+Shift+Down  { move-column-to-monitor-down; }
    Mod+Alt+Shift+Up    { move-column-to-monitor-up; }
    Mod+Alt+Shift+Right { move-column-to-monitor-right; }
    Mod+Alt+Shift+H     { move-column-to-monitor-left; }
    Mod+Alt+Shift+J     { move-column-to-monitor-down; }
    Mod+Alt+Shift+K     { move-column-to-monitor-up; }
    Mod+Alt+Shift+L     { move-column-to-monitor-right; }

    /// Window shape controls

    // Size
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+G { expand-column-to-available-width; }
    Mod+Alt+R { switch-preset-window-height; }
    Mod+Alt+Shift+R { switch-preset-window-height-back; }
    Mod+Alt+Ctrl+R { reset-window-height; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Alt+WheelScrollUp { set-column-width "+10%"; }
    Mod+Alt+WheelScrollDown { set-column-width "-10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Maximization
    Mod+F { maximize-column; }
    Mod+Alt+F { maximize-window-to-edges; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" { spawn "~/.config/niri/nfsm-cli"; }
    Mod+Ctrl+F { toggle-windowed-fullscreen; }

    Mod+T { toggle-column-tabbed-display; }
    Mod+A { switch-focus-between-floating-and-tiling; }
    Mod+S { toggle-window-floating; }

    Mod+C { center-column; }

    // Other
    Mod+Q { close-window; }
    // Get PID of focused window's program and kill it
    // repeat=false to avoid multi-killing
    Mod+Shift+Q repeat=false hotkey-overlay-title="Kill window by PID" { spawn "sh" "-c" "kill -9 $(niri msg focused-window|grep PID|awk '{print $2}')"; }

    Mod+Return { toggle-overview; }
}
